.grid { margin:1em auto;
 border-collapse:collapse;
 height: 400px;
 width: 400px;
  }
.grid td {
    cursor:pointer;
    width:15px; height:15px;
    border:1px solid #17a2b8;
    text-align:center;
    font-family:sans-serif; font-size:13px;color:#ccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.grid td.clicked {
    background-color:#17a2b8;
    font-weight:bold; color:white;
}
.grid td:hover {
    background-color: #17a2b8;
}
element.style {
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
body{
    position: relative;
}
html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}